@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #000000 !important;
    color: #fff;
}

::selection {
    background-color: rgba(73, 52, 196, 100); 
    color: #fff; 
  }